svg {
  font-family: "Helvetica Neue";
  letter-spacing: 20%;
}

.axis, .grid {
  stroke: black;
  shape-rendering: crispEdges;
}

path {
  fill: none;
  stroke-width: 1px;
}

text {
    text-anchor: middle;
    stroke: none;
}

.x.axis line {
  stroke: #000;
  stroke-width: 2px;
}

.x.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  z-index: 20;
}

.y.axis .tick line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.y.grid path {
  display: none;
}

.y.grid .tick line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.y.grid .tick text {
  display: none;
}

.plot-bg {
  fill: #EEE;
  stroke: none;
}

line.arrows {
  stroke: #a1d99b;
  stroke-width: 3px;
  opacity: .2;
}
